.container
  h2.heading.text-center = t('devise.registrations.doctor_title')
  .row
    .col-md-4.offset-md-4
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render 'shared/devise_messages'
        .form-group
          = f.label :specialization_id
          = f.select :specialization_id, options_from_collection_for_select(Specialization.all, :id, :name), class: 'form-control'
        .form-group
          = f.text_field :full_name, autofocus: true, placeholder: t('devise.registrations.name'), class: 'form-control'
        .form-group
          = f.email_field :email, placeholder: t('devise.registrations.email'), class: 'form-control'
        .form-group
          = f.password_field :password, autocomplete: 'off', placeholder: t('devise.registrations.pass'), class: 'form-control'
        .form-group
          = f.password_field :password_confirmation, autocomplete: 'off', placeholder: t('devise.registrations.pass_confirm'), class: 'form-control'
        .actions
          = f.submit t('devise.registrations.sign_up'), class: 'btn btn-normal btn-block'
