<div class="page-intro">
  <div class="container">
    <div class="d-inline-block">
      <h1>Healthy Search</h1>
      <p>Find a trusted doctor to<br/>
        make your life healthy</p>
      <%= link_to 'Login', login_page_path, class: 'btn btn-outline-login' %>
      <%= link_to 'Registration', registration_page_path, class: 'btn btn-outline-reg' %>
      </div>
    </div>
  </div>
</div>
