<div class="page-intro">
  <div class="container">
    <div class="d-inline-block">
      <h1>Healthy Search</h1>
      <p>Find a trusted doctor to<br/>
        make your life healthy</p>
      </div>
    </div>
  </div>
</div>
