<div class="row">
  <h2 class="center-align">Log in page</h2>


  <div class="col m4 center-align offset-m2">
    
    <div class="row">
      <div class="col s12 m12">
        <h4>Doctor</h4>
        <div class="card">
          <div class="card-image">
            <%= image_tag 'cox.jpg' %>
            <a href="<%= new_doctor_session_path %>" class="waves-effect waves-light btn">
              <i class="material-icons right">chevron_right</i>Log in
            </a>
          </div>
          <div class="card-content">
            <p>You are a doctor? Alright, log in here!</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col m4 center-align">
    
    <div class="row">
      <div class="col s12 m12">
        <h4>Patient</h4>
        <div class="card">
          <div class="card-image">
            <%= image_tag 'jd.png' %>
            <a href="<%= new_patient_session_path %>" class="waves-effect waves-light btn">
              <i class="material-icons right">chevron_right</i>Log in
            </a>
          </div>
          <div class="card-content">
            <p>You are a patient? Alright, log in here!</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
