<div class="container">
  <h2 class="heading text-center">Log in page</h2>

  <div class="row">

    <div class="col-md-6">
      
      <div class="card text-center center-block" style="width: 30rem;">
        <%= image_tag 'cox.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Doctor</h5>
          <p class="card-text">Are you a doctor?</p>
          <p class="card-text">Alright, log in here!</p>
          <%= link_to 'Log in as a doctor', new_doctor_session_path, class: 'btn btn-normal btn-block' %>
        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div class="card text-center center-block" style="width: 30rem;">
        <%= image_tag 'jd.png', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Patient</h5>
          <p class="card-text">Are you a patient?</p>
          <p class="card-text">Alright, log in here!</p>
          <%= link_to 'Log in as a patient', new_patient_session_path, class: 'btn btn-normal btn-block' %>
        </div>
      </div>
      
    </div>

  </div>
</div>
