<h2 class="heading text-center">Who are you?</h2>

<div class="row">

  <div class="col-md-6">
    
    <div class="card text-center center-block" style="width: 30rem;">
      <%= image_tag 'cox.jpg', class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title">Doctor</h5>
        <p class="card-text">Start working with us and helping people!</p>
        <p class="card-text">We are looking for you.</p>
        <%= link_to 'Sign up as a doctor', new_doctor_registration_path, class: 'btn btn-normal btn-block' %>
      </div>
    </div>

  </div>

  <div class="col-md-6">

    <div class="card text-center center-block" style="width: 30rem;">
      <%= image_tag 'jd.png', class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title">Patient</h5>
        <p class="card-text">You can sign up as a patient to find your doctor!</p>
        <p class="card-text">It's free. We promise.</p>
        <%= link_to 'Sign up as a patient', new_patient_registration_path, class: 'btn btn-normal btn-block' %>
      </div>
    </div>
    
  </div>

</div>
