.container
  .row
    .col-md-3
      = render 'patients/profile_menu'
    .col-md-9
      .card
        .card-header.text-center= t('patients.appointments.table')
        .card-body
          .container
            table.table
              thead.thead-light
                tr
                  th= t('patients.appointments.doctor')
                  th= t('patients.appointments.phone')
                  th= t('patients.appointments.visit')
              tbody
                - @appointments.each do |appointment|
                  tr
                    th= appointment.doctor.full_name
                    th= appointment.doctor.phone_number
                    th= appointment.date
