= link_to t('doctors.profile.appointments.title'), profile_area_doctor_path(current_doctor),
  class: 'list-group-item list-group-item-action'
ul.list-group
  li.list-group-item.disabled = t('doctors.profile.settings')
  = link_to t('doctors.profile.photo.title'), photo_upload_doctor_path(current_doctor),
    class: 'list-group-item list-group-item-action'
  = link_to t('doctors.profile.specialization.title'), specialization_doctor_path(current_doctor),
    class: 'list-group-item list-group-item-action'
  = link_to t('doctors.profile.bio.title'), bio_doctor_path(current_doctor),
    class: 'list-group-item list-group-item-action'
  = link_to t('doctors.profile.address.title'), address_doctor_path(current_doctor),
    class: 'list-group-item list-group-item-action'
  = link_to t('doctors.profile.visiting_days.title'), visiting_days_doctor_path(current_doctor),
    class: 'list-group-item list-group-item-action'
  = link_to t('doctors.profile.price.title'), price_doctor_path(current_doctor),
    class: 'list-group-item list-group-item-action'
  
hr/
h4 = t('doctors.profile.reviews')
