<ul class="list-group">
  <li class="list-group-item disabled">Edit my profile</li>
  <%= link_to 'Personal info', edit_doctor_registration_path, class: 'list-group-item list-group-item-action' %>
  <li class="list-group-item">Address</li>
  <li class="list-group-item">Bio</li>
  <li class="list-group-item">Your patients</li>
  <li class="list-group-item">Reviews about you</li>
</ul>