@import "bootstrap";
@import "toastr";

body {
  color: #565a5c;
  background-color: #fff;
  font-family: "Chivo", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

// sticky nav

nav.navbar {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 2px #efefef;
}

//

.center-block {
  display: block;
  margin: 0 auto;
}

.container {
  width: 80%;
}

// bg image

.page-intro {
  min-height: 500px;
  max-width: 100%;
  background-image: url('bg.jpg');
  background-size: cover;
  height: 100vh;
}

.page-intro .container {
  padding: 100px;
}

.page-intro .container .d-inline-block {
  padding: 15px;
  color: white;
  background-color: rgba(31,29,15,0.54);
}

// benefits

.section-benefits {
  padding: 80px 0;
}

.section-doctors {
  padding: 80px 0;
}

// nav-tabs

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-item {
  margin-bottom: 10px;
  color: #000;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  color: #039be5;
  border-bottom: 3px solid;
  border-color: #039be5;
  background-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #039be5;
  background-color: transparent;
  border-bottom: 3px solid;
  border-color: #039be5;
}

// for <h> tags

.heading {
  margin-bottom: 30px;
}

.heading-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

// card

.card .card-header {
  color: #fff;
  background-color: #039be5;
  font-size: 18px;
  font-weight: 400;
}

.list-group-item.disabled {
  color: #fff;
  background-color: #039be5;
}

// buttons

.btn.btn-normal {
  border: 1px solid #20c997;
  background-color: #20c997;
}

.btn.btn-normal:hover {
  color: #fff;
  border-color: #20dba4;
  background-color: #20dba4;
}

.btn.btn-normal:active {
  outline: none;
  border-color: #169972;
  background-color: #169972;
}

.btn-block {
  display: block;
  white-space: normal;
}

.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn.btn-outline-green {
  background-color: transparent;
  background-image: none;
  border-color: #20c997;
}

.btn.btn-outline-green:hover {
  color: #fff;
  background-color: #20c997;
  border-color: #20c997;
}

.btn.btn-outline-green:active {
  color: #fff;
  background-color: #169972;
  border-color: #169972;
}

.btn.btn-outline-blue {
  background-color: transparent;
  background-image: none;
  border-color: #039be5;
}

.btn.btn-outline-blue:hover {
  color: #fff;
  background-color: #039be5;
  border-color: #039be5;
}

.btn.btn-outline-blue:active {
  color: #fff;
  background-color: #017fbc;
  border-color: #017fbc;
}

// forms
.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 2px;
  height: 4rem;
}

.form-group input {
  height: 45px;
  border: 1px solid #00a699;
}

.form-group textarea {
  border: 1px solid #00a699;
}

.form-group select {
  width: 100%;
  color: #565a5c;
  background-color: white;
  border: 1px solid #00a699;
  border-radius: 2px;
  padding: 19px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form-group input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #00a699;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form-group input[type="checkbox"]:checked:before {
  content: '\2713';
  font-size: 1em;
  position: absolute;
  text-align: center;
  color: #00a699;
}
